body
{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "Osaka", "Meiryo", "MS PGothic", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
}

#counter
{
    position: absolute;
    top: 20px;
    left: 20px;
}

#startButton
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    margin-left: -100px;
    margin-top: -10px;
    display: none;
    cursor: pointer;
    background-color: #fff;
}

#startButton:hover
{
    background-color: #f1f1f1;
}

#startButton.on
{
    display: block;
}


#myCanvas, #myDiv
{
    width: 960px;
    height: 540px;
    position: absolute;
    margin-left: -480px;
    margin-top: -270px;
    left: 50%;
    top: 50%;
    border: 1px solid #f00;
}
